<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <div class="container">


      <div class="hero_image">
        <img style="border-radius: 50px;" src="/assets/images/Image_1.png" alt="My photo" class="headshot">
        <img src="/assets/images/arrow.svg" alt="" class="arrow">
      </div>
      <div class="intro_section">
        <div class="main_section">
          <h2>I am Prasiddha Khadka and I am learning to become a software developer. I don't work for anyone . I create
            my own project and web application </h2>
        </div>
        <div class="Email_CTA">
          <p>Email: <span><a href="#">prasiddhak59@gmail.com</a></span></p>
        </div>
      </div>
    </div>
    <div>


      <div class="my_background section">
        <h2 class="section_heading">Background</h2>
        <div class="my_background_details">
          <p>I am studying 2 year diploma software engineer technician program in <strong>Centennial College</strong> at
            progress campus</p>

          <div >
            <a href="https://drive.google.com/file/d/1PLbtR_EGw9FOukuqQ96fswjF1LPb_BES/view?usp=sharing" >Download CV</a>
            
          </div>
        </div>
      </div>
      <div class="my_toolkit section">
        <h2 class="section_heading">IDE</h2>
        <div class="my_toolkit_deatils">
          <img src="/assets/images/svg/bxl-css3.svg" alt="">
          <img src="/assets/images/svg/bxl-github.svg" alt="">
          <img src="/assets/images/svg/bxl-flutter.svg" alt="">

        </div>


      </div>


      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Personal Portfolio</h3>
          <p>This is my Portfoilo and contains all of my professional details and achievement. This website is
            maintained on weekly basis by me.</p>
        </div>
        <div class="info_pill">
          <p>NodeJS</p>
        </div>
        <div class="info_pill">
          <p>Express</p>
        </div>
        <div class="info_pill">
          <p>Render</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
        <h3 class="project_heading">Abroad Education</h3>
        <p>This is a mobile applications that is made by me which is developed to the new students who wants to study
          abroad.</p>

        <div class="info_pill">
          <p>JavaScript</p>
        </div>
      </div>



      <%- include partials/footer.ejs %>