<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

    <div class="my_background section">

        <!-- //added -->
        <button class="beautiful-button"  onclick="document.getElementById('bg_text').style.display='block'" >Biography</button>
  
  
  
        <div id="bg_text" style="display:none">
          <p>I am studying 2 year diploma software engineer technician program in <strong>Centennial College</strong> at
  
            <a href="https://drive.google.com/file/d/1XWUqpkt3KKL4e3l-AW7Ej7beDUAiUiEy/view?usp=sharing">Download
              CV</a>
        </div>
      </div>
  
      <!-- //till here -->
  
  
  
      </div>
  
      <div class="my_toolkit section">
        <button class="beautiful-button"  onclick="document.getElementById('toolkit_text').style.display='block'" >ToolKit</button>
        <div  id="toolkit_text" style="display:none">
          <img src="/assets/images/svg/bxl-css3.svg" alt="">
          <img src="/assets/images/svg/bxl-github.svg" alt="">
          <img src="/assets/images/svg/bxl-html5.svg" alt="">
          <img src="/assets/images/svg/bxl-javascript.svg" alt="">
  
        </div>
  
  
  
      </div>


        <%- include partials/footer.ejs %>