<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="container">
            <div class="intro_section">
                <div class="namaskar">
                    <h1>Contact page</h1>
                </div>
                <div class="main_section">
                    <h2>If you see something, say something: Tell me</h2>
                </div>
                <div class="contact_form_area">
                    <input type="text" name="name" id="name" placeholder="Full Name">
                    <input type="email" name="email" id="email" placeholder="Email Address">
                    <textarea name="message" id="message" cols="30" rows="10"
                        placeholder="Message here..."></textarea>
                    <div class="button"><a href="#">Send</a></div>
                </div>
            </div>
        </div>

        <%- include partials/footer.ejs %>