<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>

<div class="home_des">
<h2 >Hi folks! My name is prasiddha khadka. Welcome to my Portfoilo. In this web app you will be able to view and interact with different page. </h2>

<div>
  <p >Learn more about me by visiting the <a href="/about-me">About Me</a> page.</p></div>

  <div style="text-align: center;">
    <p >
      "Our mission is to empower individuals and organizations to achieve their goals by providing innovative, high-quality products and services. We are committed to delivering exceptional customer service, fostering long-term relationships, and promoting continuous improvement in everything we do. Through our dedication to excellence, integrity, and teamwork, we strive to make a positive impact in the world and create value for all of our stakeholders."
    </p>
  </div>
</div>
  

      <%- include partials/footer.ejs %>