<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

    
    <div class="project_list_card">
      <div class="project_deatails button">
        <h3 class="project_heading">Personal Portfolio</h3>
        <img height="80px" width="80px" style=border-radius:20px src="assets/images/R.png" alt="Italian Trulli">

        <p>This is my Portfoilo and contains all of my professional details and achievement. This website is
          maintained on weekly basis by me.</p>
      </div>
      <div class="info_pill">
        <p>NodeJS</p>
      </div>
      <div class="info_pill">
        <p>Express</p>
      </div>
      <div class="info_pill">
        <p>Render</p>
      </div>
      <div class="info_pill">
        <p>HTML</p>
      </div>
      <div class="info_pill">
        <p>CSS</p>
      </div>
        <h3 class="project_heading">Abroad Education</h3>
        <img height="80px" width="80px" style=border-radius:20px src="assets/images/a.png" alt="Italian Trulli">

        <p>This is a mobile applications that is made by me which is developed to the new students who wants to study
          abroad.</p>

        <div class="info_pill">
          <p>JavaScript</p>
        </div>
        <h3 class="project_heading">Finance Management</h3>
        <img height="80px" width="80px" style=border-radius:20px src="assets/images/f.png" alt="Italian Trulli">

        <p> The application could allow users to track their income and expenses, set budgets, and create financial goals.</p>

        <div class="info_pill">
          <p>JavaScript</p>
        </div>
        <div class="info_pill">
          <p>Render</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
        </div>

        <%- include partials/footer.ejs %>