<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="projects section">
            <h2 class="section_heading">Services</h2>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Web and mobile app Development<span></span>
                    </h3>
                    <p>I ama software developer and I offer web app and mobile app in a cheaper prices than market price using various programming language as per the client needs.</p>
                
            </div>
            <div class="my_toolkit section">
                <h2 class="section_heading">Software that I use for app development</h2>
                <div class="my_toolkit_deatils">
                    <img src="/assets/images/svg/bxl-css3.svg" alt="">
                    <img src="/assets/images/svg/bxl-github.svg" alt="">
                    
                    <img src="/assets/images/svg/bxl-javascript.svg" alt="">
                    
                </div>

            

            </div>

            <%- include partials/footer.ejs %>